@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h3>Add A New Stylist</h3>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="Add new stylist" />
}
<button>@Html.ActionLink("See all stylist", "Index")</button>