@{
  Layout = "_Layout";
}

<h1>Welcome to Hair Salon</h1>
<p>We're the best thair is, the best thair was, and the best thair ever will be</p>

<button>@Html.ActionLink("See all clients", "Index", "Clients")</button>
<button>@Html.ActionLink("See all stylists", "Index", "Stylists")</button>