@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h3>Client Details</h3>
<hr/>
<h5>Client Name: @Html.DisplayFor(model => model.ClientName)</h5>
<button>@Html.ActionLink("Back to Client List", "Index")</button>
<button>@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId})</button>
<button>@Html.ActionLink("Delete Item", "Delete", new { id = Model.ClientId}))</button>